## Preprocessing

In [3]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
app_df = application_df.copy()
app_df = app_df.drop(['EIN', 'NAME'], axis=1)
app_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
# Determine the number of unique values in each column.
app_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning
app_count = app_df['APPLICATION_TYPE'].value_counts()
app_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = app_count[app_count < 500].index

# Replace in dataframe
for app in application_types_to_replace:
    app_df['APPLICATION_TYPE'] = app_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
app_df['APPLICATION_TYPE'].value_counts()
# app_df['APPLICATION_TYPE'].value_counts().dtype

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
class_count = app_df['CLASSIFICATION'].value_counts()
class_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_count_clean = class_count[class_count > 1]
class_count_clean

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = class_count[class_count < 1800].index

# Replace in dataframe
for cls in classifications_to_replace:
    app_df['CLASSIFICATION'] = app_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
app_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
app_dummies = pd.get_dummies(app_df)
app_dummies

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [12]:
# Split our preprocessed data into our features and target arrays
y = app_dummies['IS_SUCCESSFUL']
x = app_dummies.drop(columns='IS_SUCCESSFUL')

# Split the preprocessed data into a training and testing dataset
x_train, x_test, y_train, y_test = train_test_split(x, y)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
x_scaler = scaler.fit(x_train)

# Scale the data
X_train_scaled = x_scaler.transform(x_train)
X_test_scaled = x_scaler.transform(x_test)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = x_train.shape[1]
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="tanh"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5981 (23.36 KB)
Trainable params: 5981 (23.36 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [15]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [16]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 896us/step - loss: 0.5747 - accuracy: 0.7182
Epoch 2/100
804/804 [==============================] - 1s 968us/step - loss: 0.5577 - accuracy: 0.7290
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5542 - accuracy: 0.7284
Epoch 4/100
804/804 [==============================] - 1s 924us/step - loss: 0.5520 - accuracy: 0.7298
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5493 - accuracy: 0.7327
Epoch 6/100
804/804 [==============================] - 1s 954us/step - loss: 0.5486 - accuracy: 0.7324
Epoch 7/100
804/804 [==============================] - 1s 913us/step - loss: 0.5474 - accuracy: 0.7327
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5470 - accuracy: 0.7335
Epoch 9/100
804/804 [==============================] - 1s 933us/step - loss: 0.5458 - accuracy: 0.7343
Epoch 10/100
804/804 [==============================] - 1s 902us/step - loss: 0.5456 - accuracy: 0.7329
Epoch 11/100
804/804 [==============================] - 1s 907us/step - loss: 0.5449 - accuracy: 0.7336
Epoch 12/100
804/804 [==============================] - 1s 891us/step - loss: 0.5437 - accuracy: 0.7356
Epoch 13/100
804/804 [==============================] - 1s 916us/step - loss: 0.5435 - accuracy: 0.7350
Epoch 14/100
804/804 [==============================] - 1s 902us/step - loss: 0.5427 - accuracy: 0.7367
Epoch 15/100
804/804 [==============================] - 1s 927us/step - loss: 0.5427 - accuracy: 0.7358
Epoch 16/100
804/804 [==============================] - 1s 921us/step - loss: 0.5423 - accuracy: 0.7357
Epoch 17/100
804/804 [==============================] - 1s 920us/step - loss: 0.5420 - accuracy: 0.7357
Epoch 18/100
804/804 [==============================] - 1s 923us/step - loss: 0.5414 - accuracy: 0.7367
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5407 - accuracy: 0.7383
Epoch 20/100
804/804 [==============================] - 1s 920us/step - loss: 0.5408 - accuracy: 0.7369
Epoch 21/100
804/804 [==============================] - 1s 920us/step - loss: 0.5404 - accuracy: 0.7381
Epoch 22/100
804/804 [==============================] - 1s 916us/step - loss: 0.5401 - accuracy: 0.7374
Epoch 23/100
804/804 [==============================] - 1s 910us/step - loss: 0.5398 - accuracy: 0.7371
Epoch 24/100
804/804 [==============================] - 1s 920us/step - loss: 0.5395 - accuracy: 0.7375
Epoch 25/100
804/804 [==============================] - 1s 917us/step - loss: 0.5389 - accuracy: 0.7397
Epoch 26/100
804/804 [==============================] - 1s 941us/step - loss: 0.5389 - accuracy: 0.7378
Epoch 27/100
804/804 [==============================] - 1s 947us/step - loss: 0.5388 - accuracy: 0.7399
Epoch 28/100
804/804 [==============================] - 1s 947us/step - loss: 0.5385 - accuracy: 0.7385
Epoch 29/100
804/804 [==============================] - 1s 938us/step - loss: 0.5381 - accuracy: 0.7390
Epoch 30/100
804/804 [==============================] - 1s 905us/step - loss: 0.5380 - accuracy: 0.7378
Epoch 31/100
804/804 [==============================] - 1s 917us/step - loss: 0.5376 - accuracy: 0.7395
Epoch 32/100
804/804 [==============================] - 1s 902us/step - loss: 0.5379 - accuracy: 0.7397
Epoch 33/100
804/804 [==============================] - 1s 876us/step - loss: 0.5375 - accuracy: 0.7396
Epoch 34/100
804/804 [==============================] - 1s 898us/step - loss: 0.5374 - accuracy: 0.7399
Epoch 35/100
804/804 [==============================] - 1s 948us/step - loss: 0.5370 - accuracy: 0.7395
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7407
Epoch 37/100
804/804 [==============================] - 1s 947us/step - loss: 0.5368 - accuracy: 0.7398
Epoch 38/100
804/804 [==============================] - 1s 886us/step - loss: 0.5366 - accuracy: 0.7398
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7406
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7407
Epoch 41/100
804/804 [==============================] - 1s 914us/step - loss: 0.5362 - accuracy: 0.7396
Epoch 42/100
804/804 [==============================] - 1s 951us/step - loss: 0.5364 - accuracy: 0.7404
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7400
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7402
Epoch 45/100
804/804 [==============================] - 1s 932us/step - loss: 0.5357 - accuracy: 0.7395
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7402
Epoch 47/100
804/804 [==============================] - 1s 899us/step - loss: 0.5354 - accuracy: 0.7402
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7408
Epoch 49/100
804/804 [==============================] - 1s 984us/step - loss: 0.5354 - accuracy: 0.7413
Epoch 50/100
804/804 [==============================] - 1s 959us/step - loss: 0.5350 - accuracy: 0.7418
Epoch 51/100
804/804 [==============================] - 1s 948us/step - loss: 0.5350 - accuracy: 0.7409
Epoch 52/100
804/804 [==============================] - 1s 935us/step - loss: 0.5349 - accuracy: 0.7407
Epoch 53/100
804/804 [==============================] - 1s 927us/step - loss: 0.5346 - accuracy: 0.7424
Epoch 54/100
804/804 [==============================] - 1s 909us/step - loss: 0.5346 - accuracy: 0.7414
Epoch 55/100
804/804 [==============================] - 1s 954us/step - loss: 0.5344 - accuracy: 0.7406
Epoch 56/100
804/804 [==============================] - 1s 980us/step - loss: 0.5343 - accuracy: 0.7404
Epoch 57/100
804/804 [==============================] - 1s 924us/step - loss: 0.5342 - accuracy: 0.7421
Epoch 58/100
804/804 [==============================] - 1s 926us/step - loss: 0.5342 - accuracy: 0.7413
Epoch 59/100
804/804 [==============================] - 1s 897us/step - loss: 0.5340 - accuracy: 0.7415
Epoch 60/100
804/804 [==============================] - 1s 894us/step - loss: 0.5339 - accuracy: 0.7420
Epoch 61/100
804/804 [==============================] - 1s 883us/step - loss: 0.5337 - accuracy: 0.7423
Epoch 62/100
804/804 [==============================] - 1s 912us/step - loss: 0.5337 - accuracy: 0.7409
Epoch 63/100
804/804 [==============================] - 1s 905us/step - loss: 0.5335 - accuracy: 0.7426
Epoch 64/100
804/804 [==============================] - 1s 896us/step - loss: 0.5336 - accuracy: 0.7414
Epoch 65/100
804/804 [==============================] - 1s 920us/step - loss: 0.5335 - accuracy: 0.7416
Epoch 66/100
804/804 [==============================] - 1s 898us/step - loss: 0.5334 - accuracy: 0.7417
Epoch 67/100
804/804 [==============================] - 1s 911us/step - loss: 0.5333 - accuracy: 0.7427
Epoch 68/100
804/804 [==============================] - 1s 900us/step - loss: 0.5329 - accuracy: 0.7423
Epoch 69/100
804/804 [==============================] - 1s 894us/step - loss: 0.5332 - accuracy: 0.7413
Epoch 70/100
804/804 [==============================] - 1s 898us/step - loss: 0.5330 - accuracy: 0.7420
Epoch 71/100
804/804 [==============================] - 1s 908us/step - loss: 0.5333 - accuracy: 0.7414
Epoch 72/100
804/804 [==============================] - 1s 904us/step - loss: 0.5331 - accuracy: 0.7418
Epoch 73/100
804/804 [==============================] - 1s 907us/step - loss: 0.5327 - accuracy: 0.7422
Epoch 74/100
804/804 [==============================] - 1s 899us/step - loss: 0.5329 - accuracy: 0.7420
Epoch 75/100
804/804 [==============================] - 1s 899us/step - loss: 0.5326 - accuracy: 0.7418
Epoch 76/100
804/804 [==============================] - 1s 902us/step - loss: 0.5327 - accuracy: 0.7420
Epoch 77/100
804/804 [==============================] - 1s 937us/step - loss: 0.5325 - accuracy: 0.7412
Epoch 78/100
804/804 [==============================] - 1s 898us/step - loss: 0.5326 - accuracy: 0.7421
Epoch 79/100
804/804 [==============================] - 1s 908us/step - loss: 0.5326 - accuracy: 0.7420
Epoch 80/100
804/804 [==============================] - 1s 896us/step - loss: 0.5322 - accuracy: 0.7422
Epoch 81/100
804/804 [==============================] - 1s 892us/step - loss: 0.5322 - accuracy: 0.7428
Epoch 82/100
804/804 [==============================] - 1s 892us/step - loss: 0.5322 - accuracy: 0.7417
Epoch 83/100
804/804 [==============================] - 1s 893us/step - loss: 0.5322 - accuracy: 0.7424
Epoch 84/100
804/804 [==============================] - 1s 905us/step - loss: 0.5323 - accuracy: 0.7421
Epoch 85/100
804/804 [==============================] - 1s 908us/step - loss: 0.5322 - accuracy: 0.7425
Epoch 86/100
804/804 [==============================] - 1s 903us/step - loss: 0.5320 - accuracy: 0.7418
Epoch 87/100
804/804 [==============================] - 1s 895us/step - loss: 0.5318 - accuracy: 0.7421
Epoch 88/100
804/804 [==============================] - 1s 914us/step - loss: 0.5319 - accuracy: 0.7428
Epoch 89/100
804/804 [==============================] - 1s 902us/step - loss: 0.5318 - accuracy: 0.7427
Epoch 90/100
804/804 [==============================] - 1s 926us/step - loss: 0.5318 - accuracy: 0.7427
Epoch 91/100
804/804 [==============================] - 1s 967us/step - loss: 0.5317 - accuracy: 0.7421
Epoch 92/100
804/804 [==============================] - 1s 935us/step - loss: 0.5317 - accuracy: 0.7421
Epoch 93/100
804/804 [==============================] - 1s 902us/step - loss: 0.5318 - accuracy: 0.7420
Epoch 94/100
804/804 [==============================] - 1s 891us/step - loss: 0.5317 - accuracy: 0.7423
Epoch 95/100
804/804 [==============================] - 1s 888us/step - loss: 0.5314 - accuracy: 0.7428
Epoch 96/100
804/804 [==============================] - 1s 926us/step - loss: 0.5317 - accuracy: 0.7414
Epoch 97/100
804/804 [==============================] - 1s 903us/step - loss: 0.5316 - accuracy: 0.7423
Epoch 98/100
804/804 [==============================] - 1s 900us/step - loss: 0.5315 - accuracy: 0.7423
Epoch 99/100
804/804 [==============================] - 1s 895us/step - loss: 0.5316 - accuracy: 0.7427
Epoch 100/100
804/804 [==============================] - 1s 886us/step - loss: 0.5312 - accuracy: 0.7427

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5572 - accuracy: 0.7265 - 281ms/epoch - 1ms/step
Loss: 0.5571845173835754, Accuracy: 0.7265306115150452

In [18]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5')

L:\coding\anaconda3\Lib\site-packages\keras\src\engine\training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(